<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="..//login.css">
  </head>
  <body>
   
  <section>
       

    <div class="topnav" id="top">
      <a class="signup" href="/login">Sign Up/Log In</a>
      
      <a href="#contact">Contact</a>
      <a href="/flats">Flats</a>
      <a href="/sell">Sell</a>
      <a href="/#service">Services</a>
      <a href="/#about">About</a>
      <a href="/">Home</a>

  <div id="leftii">
    <a href="/"><img class="imgedit" src="images/logo-1.png"/></a>
  </div>
</div>
</section>
    <section class="hero" id="home">
        <div class="container1" >
<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <li class="nav-item" role="presentation" >  <h2 class="tab-login1" >ADMIN LOGIN</h2>
    </li>
  </ul>
  <!-- Pills navs -->
  <div class="tab-content1" style="">
    <div class="tab-pane fade show active" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
        <form action="/login" id="EmployeeForm" class="form-horizontal" method="post"  role="form">
  
        
  
  
        <!-- Email input -->
        <div class="form-outline mb-2">
            <label class="form-label" for="registerEmail">Email</label>
          <input type="email" id="registerEmail" class="form-control" name="email"/>
          
        </div>
  
        <!-- Password input -->
        <div class="form-outline mb-2">
            <label class="form-label" for="registerPassword">Password</label>
          <input type="password" id="registerPassword" class="form-control" name="password"/>
          
        </div>
        
        <!-- Submit button -->
        <button type="button" class="btn btn-danger login_button" >Log in</button>
       
     <div class="text-center" >
          <p>Don't have an account? <a href="/signup" class="sign_link">Register</a></p>
        </div>
      </form>
    </div>
    </div>
  </div>
  </div>
    </section>   

  </body>
</html>