<%- include("partials/header"); -%> 
  <main>
    <article>
      <section class="hero" id="home" style="padding-top: 50px;">
        <div class="container">
          <div class="hero-content">

            <p class="hero-subtitle">
              <ion-icon name="home"></ion-icon>

              <span>Real Estate Agency</span>
            </p>
            <h2 class="h1 hero-title">
              Looking for an easy 
              <p>

              </p>
              way to buy and <p>

              </p> sell/rent flats?
            </h2>
           
            
          
            <h2 class="h1 hero-title">Abode is Here!!!</h2>

            <p class="hero-text">
             


            </p>
            <a href="#contact"><button class="btn">Contact Us</button></a>

          </div>

          <figure class="hero-banner">
            <img src="../images/2.png" alt="Modern house model" class="w-100">
          </figure>

        </div>
        
      </section>

      <!-- <iframe width="350" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/dffeb788-fba9-43f0-aafa-b12a7ea4218f"></iframe> -->



      <!-- 
        - #ABOUT
      -->
      <!-- <a href="" title="customer service icons">Customer service icons created by Freepik - Flaticon</a> -->
      <script type="text/javascript" src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="Abode"
  agent-id="dffeb788-fba9-43f0-aafa-b12a7ea4218f"
  language-code="en"
></df-messenger>
      <section class="about" id="about">
        <div class="container">

          <figure class="about-banner">
            <img src="../images/about-banner-1.png" alt="House interior">
            <!-- <img src="../images/about-banner-2.jpg" alt="House interior" class="abs-img"> -->
          </figure>

          <div class="about-content">

            <p class="section-subtitle">About Us</p>

            <h2 class="h2 section-title">The Leading Real Estate Rental Marketplace.</h2>

            <p class="about-text">
              Over 39,000 people work for us in more than 70 countries all over the This breadth of global coverage,
              combined with
              specialist services
            </p>

            <ul class="about-list">

              <li class="about-item">
                <div class="about-item-icon">
                  <ion-icon name="home-outline"></ion-icon>
                </div>

                <p class="about-item-text">Smart Home Design</p>
              </li>

              <li class="about-item">
                <div class="about-item-icon">
                  <ion-icon name="leaf-outline"></ion-icon>
                </div>

                <p class="about-item-text">Beautiful Scene Around</p>
              </li>

              <li class="about-item">
                <div class="about-item-icon">
                  <ion-icon name="wine-outline"></ion-icon>
                </div>

                <p class="about-item-text">Exceptional Lifestyle</p>
              </li>

              <li class="about-item">
                <div class="about-item-icon">
                  <ion-icon name="shield-checkmark-outline"></ion-icon>
                </div>

                <p class="about-item-text">Complete 24/7 Security</p>
              </li>

            </ul>

            <p class="callout">
              "Enimad minim veniam quis nostrud exercitation
              llamco laboris. Lorem ipsum dolor sit amet"
            </p>

            <a href="#service" class="btn">Our Services</a>

          </div>

        </div>
      </section>





      <!-- 
        - #SERVICE
      -->

      <section class="service" id="service">
        <div class="container">

          <p class="section-subtitle">Our Services</p>

          <h2 class="h2 section-title">Our Main Focus</h2>

          <ul class="service-list">

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="../images/service-1.png" alt="Service icon">
                </div>

                <h3 class="h3 card-title">
                  <a href="/flats">Buy a home</a>
                </h3>

                <p class="card-text">
                  over 1 million+ homes for sale available on the website, we can match you with a house you will want
                  to call home.
                </p>

                <a href="/flats" class="card-link">
                  <span>Find A Home</span>

                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="../images/service-2.png" alt="Service icon">
                </div>

                <h3 class="h3 card-title">
                  <a href="/sell">Rent a home</a>
                </h3>

                <p class="card-text">
                  over 1 million+ homes for sale available on the website, we can match you with a house you will want
                  to call home.
                </p>

                <a href="/sell" class="card-link">
                  <span>Find A Home</span>

                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <img src="../images/service-3.png" alt="Service icon">
                </div>

                <h3 class="h3 card-title">
                  <a href="/sell">Sell a home</a>
                </h3>

                <p class="card-text">
                  over 1 million+ homes for sale available on the website, we can match you with a house you will want
                  to call home.
                </p>

                <a href="/sell" class="card-link">
                  <span>Find A Home</span>

                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>

              </div>
            </li>

          </ul>

        </div>
      </section>

      <!-- 
        - #PROPERTY
      -->


      <!-- 
        - #BLOG
      -->

      




      <!-- 
        - #CTA
      -->
     
      <section class="cta">
        <div class="container">

          <div class="cta-card">
            <div class="card-content">
              <h2 class="h2 card-title">Looking for a dream home?</h2>

              <p class="card-text">We can help you realize your dream of a new home</p>
            </div>

            <a href="/flats"><button class="btn cta-btn">
              <span>Explore Properties</span>

              <ion-icon name="arrow-forward-outline"></ion-icon>
            </button></a>
          </div>

        </div>
      </section>

    </article>
  </main>






  <%- include("partials/footer"); -%> 