<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  
  <section class="hero" id="home">
     <div class="container1">
        
       <!--<div class="hero-content" style="margin:auto;"> -->
         <!-- Pills navs -->
<ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
 <li class="nav-item" role="presentation">
   
   <h2 class="tab-login" >LOGIN</h2>
 </li>

</ul>
<!-- Pills navs -->

<!-- Pills content -->
<div class="tab-content">
 <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
   <form>
     <div class="text-center mb-3">
      
     </div>

     <!-- <p class="text-center">or:</p> -->

     <!-- Email input -->
     <div class="form-outline mb-4">
         <label class="form-label" for="loginName">Email or username</label>
       <input type="email" id="loginName" class="form-control" />
       
     </div>

     <!-- Password input -->
     <div class="form-outline mb-4">
         <label class="form-label" for="loginPassword">Password</label>
       <input type="password" id="loginPassword" class="form-control" />
       
     </div>

     <!-- 2 column grid layout -->
     <div class="row mb-4">
         <div class="col-md-6 d-flex justify-content-center">
           <!-- Checkbox -->
           <div class="form-check mb-3 mb-md-0">
             <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
             <label class="form-check-label" for="loginCheck" > Remember me </label>
           </div>
         </div>

       <div class="col-md-6 d-flex justify-content-center">
         <!-- Simple link -->
         <a href="#!" style="color: hsl(9, 100%, 62%);;">Forgot password?</a>
       </div>
     </div>

     <!-- Submit button -->
     <button type="submit" class="btn btn-primary btn-block mb-4" style="border:none; background-color: hsl(9, 100%, 62%); color: black;">Sign in</button>

     <!-- Register buttons -->
     <div class="text-center">
       <p>Not a member? <a href="./signup.html" style="color: hsl(9, 100%, 62%);">Register</a></p>
     </div>
   </form>
 </div>
 
   </form>
 </div>
</div>


<!-- Pills content -->
             
          <!-- </div> -->
         
        
       </div>
 </section>   

 
  </body>
</html>
