<%- include("partials/header"); -%> 

<section>
    <ul class="rent-card">
        <li style="padding: 50px;" >
            <div  class="service-card">

                <div class="card-icon">
                    <!-- <div> Icons made by <a href="https://www.flaticon.com/authors/justicon" title="justicon"> justicon </a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com'</a></div> -->
                  <img src="../images/service-3.png" alt="Service icon">
                </div>

                <h3 class="h3 card-title">
                  <a href="/sell">Provide a Flat</a>
                </h3>

                <p class="card-text">
                  "Find your perfect flat with ease on our expertly curated real estate platform. Start your search today and discover the ideal living space for your lifestyle."

                </p>

                <a href="/sell" class="card-link">
                  <span>Rent a flat</span>

                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>

              </div>
        </li>
        <li style="padding: 50px;" >
            <div class="service-card">

                <div class="card-icon">
                  <img src="../images/service-3.png" alt="Service icon">
                </div>

                <h3 class="h3 card-title">
                  <a href="/flats">Avail a Flat</a>
                </h3>

                <p class="card-text">
                  
                  Our comprehensive real estate platform offers a vast selection of
                  exclusive properties and personalized services to make your  search effortless and stress-free."
                </p>

                <a href="/flats" class="card-link">
                  <span>Get a flat for Rent</span>

                  <ion-icon name="arrow-forward-outline"></ion-icon>
                </a>

              </div>
        </li>
    </ul>
</section>

<%- include("partials/footer"); -%> 