<%- include("partials/header"); -%> 
    <section class="hero" id="home">
        <div class="container">

          <div class="hero-content">

            <!-- form -->

            <h1><center>Upload Flat Details</center></h1>
              <form action = "/sell" method="post" enctype="multipart/form-data">
                  <div class="input-group mb-3">
                    <span class="input-group-text">Flat Description</span>
                    <textarea  placeholder="Enter Flat Description" name="description" class="form-control" aria-label="With textarea" required></textarea>
                  </div>
                  <div class="input-group mb-3">
                      <span class="input-group-text">Name</span>
                      <input type="text" placeholder="Enter Full Name" name="fname" aria-label="name" class="form-control" required>
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text">Contact Details</span>
                      <input name="fcontact" placeholder="Enter Contact Detals" type="text" aria-label="First name" class="form-control" required>
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text">Location</span>
                      <input placeholder="Enter Location" name="floc" type="text" aria-label="First name" class="form-control" required>
                      
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text">State</span>
                      <input name="fstate" placeholder="Enter State" type="text" aria-label="First name" class="form-control" required>
                      
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text">City</span>
                      <input placeholder="Enter City" name="fcity" type="text" aria-label="First name" class="form-control" required>
                      
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text">Price</span>
                      <input placeholder="Enter Price" name="fprice" type="text" aria-label="First name" class="form-control" required>
                      
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text">Email</span>
                      <input placeholder="Enter Email" name="email" type="text" aria-label="First name" class="form-control" required>
                      
                    </div>
                    <div class="input-group mb-3">
                      <label class="input-group-text" style="margin-right: 10px;">Availability</label>
                      <!-- <span class="input-group-text">Sell/Rent</span> -->
                      
                      <input class = "radio_btn" type="radio" id="sell" name="ftype" value="sell">
                      <label class = "radio_btn" for="sell">Sell</label>
                      <input class = "radio_btn" type="radio" id="rent" name="ftype" value="rent">
                      <label class = "radio_btn" for="rent">Rent</label>
                      
                      
                      <!-- <input placeholder="Enter Sell/Rent" name="ftype" type="text" aria-label="First name" class="form-control" required> -->
                      
                    </div>
                    <div class="input-group mb-3">
                      <label class="input-group-text" style="margin-right: 10px;">Furnished</label>
                      <!-- <span class="input-group-text">Sell/Rent</span> -->
                      
                      <input class = "radio_btn" type="radio" id="yes" name="furnish" value="Furnished">
                      <label class = "radio_btn" for="Furnished">Yes</label>
                      <input class = "radio_btn" type="radio" id="no" name="furnish" value="Not Furnished">
                      <label class = "radio_btn" for="Not Furnished">No</label>
                      
                      
                      <!-- <input placeholder="Enter Sell/Rent" name="ftype" type="text" aria-label="First name" class="form-control" required> -->
                      
                    </div>
                    <!-- <div class="input-group mb-3">
                      <span class="input-group-text">Furnished</span>
                      <input name="furnish" placeholder="Yes/No" type="text" aria-label="First name" class="form-control" required>
                      
                    </div> -->
                    <div class="input-group mb-3">
                      <span class="input-group-text">Size</span>
                      <input placeholder="Enter Size in BHK or sq.ft." name="size" type="text" aria-label="First name" class="form-control" required>
                      
                    </div>
                    <div class="mb-3">
                      <label for="formFile" class="form-label">Upload Property images</label>
                      <input class="form-control" type="file" name="imageFile" multiple>
                    </div>
                    <div class="mb-3">
                      <label for="formFile" class="form-label">Upload Property document</label>
                      <input class="form-control" type="file" name="pdfFile" >
                    </div>
                    <!-- <button type="submit" id="button-send" style="background-color: hsl(9, 100%, 62%); " class="btn">Upload Flat Details</button> -->
                
                           <button type="submit" id="button-send" style="background-color: hsl(9, 100%, 62%); " class="btn-home">Upload Flat Details</button>
                </form>
                <!-- <script type="text/javascript">

let inputs = document.querySelectorAll('input');
let buttonSend = document.getElementById('button-send');

let inputValidator = {
  "description" : false,
  "fname": false,
  "fcontact" : false,
  "floc":false,
  "fstate":false,
  "fcity":false,
  "fprice":false,
  "ftype":false, 
  "furnish":false,
  "size":false
}

inputs.forEach((input) => {
  input.addEventListener('input', () => {
    let name = event.target.getAttribute('name');
    if (event.target.value.length > 0) {
      inputValidator[name] = true;
    } else {
      inputValidator[name] = false;
    };

    let allTrue = Object.keys(inputValidator).every((item) => {
      return inputValidator[item] === true
    });

    if (allTrue) {
      buttonSend.disabled = false;
    } else {
      buttonSend.disabled = true;
    }
  })
})

                </script>
             -->
                <!-- <div class="p-3 mb-2 bg-gradient-warning text-dark">.bg-gradient-warning</div> -->
              <!-- <button class="btn">Request for an Approval</button> -->
            </div>
            
            <figure class="hero-banner">
              <img width="100px" height="700px" src="../images/about-banner-1.png" alt="Modern house model" class="w-100 mar">
            </figure>
          </div>
    </section>  


 <!-- 
    - #FOOTER
  -->

  <%- include("partials/footer"); -%> 